html {
  min-height: 100%;
  position: relative;
}

html body {
  margin-bottom: 60px;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

footer {
  color: #fff;
  background: #680e1b;
  bottom: 0;
  width: 100%;
  position: absolute;
}

footer hr {
  background: #fff;
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

