html {
  min-height: 100%;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
main{
  margin-bottom:150px;
  min-height: 100%;
}
footer {
  color: #fff;
  background: darken(#680e1b, 5);
}
footer hr{
  background: #fff;
}
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

